@using OWL_Site.Models
@model LoginViewModel

@{
    ViewBag.Title = "Вход";
}

<div class="row">
    <div class="form__container ng-scope">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                    @Html.LabelFor(m => m.Domen, new { @class = "username" })
                    <br>
                    <div class="login_pole">
                        @Html.TextBoxFor(m => m.Domen, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Domen, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="form-group">
                    @Html.LabelFor(m => m.Sammaccount, new { @class = "username" })
                    <br>
                    <div class="login_pole">
                        @Html.TextBoxFor(m => m.Sammaccount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Sammaccount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "username" })
                    <br>
                    <div class="login_pole">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="remember col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Выполнить вход" class="form__submit" />
                    </div>
                </div>
            }
        </section>
    </div>

</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.validate-vsdoc.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
}

